Shahadat Hossain Razin
B.Sc in Statistics, IU
email- razinstatiu@gmail.com
01515237158

Assigning the variables

In [1]:
x = 15
y = 4
z = 3

In [2]:
x+y

19

In [3]:
x-y

11

In [5]:
x/y

3.75

In [6]:
x*y

60

In [7]:
x/z

5.0

In [8]:
x*z

45

In [9]:
x**y

50625

In [10]:
x//y

3

In [12]:
import math
math.floor(x/y)

3

In [14]:
math.ceil(x/y)

4

Python identity operator

In [15]:
x = 10
y = 10
x is y

True

In [16]:
x==y #comparision

True

In [17]:
x != y

False

In [18]:
x = 102030
y = x
z = 102030

In [19]:
x is y

True

In [20]:
x is z

False

In [21]:
id(x)

1899145906768

In [22]:
id(y)

1899145906768

In [23]:
id(z)

1899145907568

In [24]:
x == z

True

In [25]:
x is not z

True

Membership operator

In [29]:
list1 = [1,2,3,4,5,6,7,8,9]
2 in list1

True

In [30]:
21 in list1

False

In [31]:
12 not in list1

True

In [32]:
set1 = {1,2,3,4,5,6,7}
3 in set1

True

In [33]:
set1 = {8,7,9}

In [38]:
9 in set1

False

python Bitwise operator

In [43]:
x = 1010 #10
y = 0100 #4
x | y = 1110
x & y = 0000

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (994737096.py, line 2)

In [41]:
x = 10
y = 4
x | y

14

In [42]:
x & y

0

comparison operator

In [45]:
10 == 10

True

In [46]:
10 >= 9

True

Python logical operator

In [47]:
10 > 9 and 10<3

False

In [48]:
10 > 9 or 10<3

True

In [49]:
not(10 > 9 and 10<3)

True

In [50]:
10 > 9 and 10<12

True

In [51]:
10 > 9 or 10<12

True

Conditional statements: if, else, elif

In [56]:
x = 150
y = 100
if y > x:
    print('you are welcome')
elif x>y:
    print('you are a great fool')
else:
    print('you are bad')

you are a great fool

In [63]:
#Dept_name = 'Data Science'
if: Dept_name = 'Data Science'
    print('you have a great future')
else:
    print('do nor worried man!')

SyntaxError: invalid syntax (868039302.py, line 2)

In [67]:
num = float(input('Enter any number :'))
if num % 2 == 0:
    if num % 5 ==0:
        print(num, 'Divisibe by 5 and 2')
    else:
        print('No')
else:
    print('Shit')

Enter any number :8
No

In [68]:
#from IPython.display import image
#image('file_name')

Calculate electricity bill

In [75]:
amount = 0
net_units = float(input('Enter your unit value:'))
if net_units <= 100:
    amount = 0
    
elif net_units > 100 and net_units <= 200:
    amount = (net_units - 100) * 5
    
elif net_units > 200:
    amount = ((net_units - 200) * 10) + 500
print ('amount is', amount)

Enter your unit value:350
amount is 2000.0

length and breadth of a rectangular from user

In [77]:
length = int(input('Enter the length: '))

#input the breadth from user
breadth = int(input('Enter the breadth: '))

#square is a rectangular whose length and breadth are equal and commonly called as sides which are of equal length

if length == breadth:
    print ('Yes, It is square')
else:
    print('It is not a square')

Enter the length: 12
Enter the breadth: 12
Yes, It is square

take three integer numbers from user input

In [78]:
num1 = int(input('Enter the first number: '))
num2 = int(input('Enter the second number: '))
num3 = int(input('Enter the third number: '))

if (num1 > num2) and (num1 > num3):
    largest = num1
    
elif (num2 > num1) and (num2 > num3):
    largest = num2
    
else:
    largest = num3
print('The largest number is', largest)

Enter the first number: 8
Enter the second number: 9
Enter the third number: 5
The largest number is 9

Attendencs of a student in a class

In [84]:
held = int(input('Number of classes held:'))
attended = int(input('Number of classes attended:'))

attended_ratio = (attended/held) *100

if attended_ratio >= 75:
    print ('You are allow for exam')
else:
    print('Get out from here')

Number of classes held:25
Number of classes attended:22
You are allow for exam

In [83]:
attended_ratio

76.66666666666667

Grade system for students in exam

In [88]:
marks = int(input('Enter your marks:'))

if marks <25:
    print('You are Genius like me:')

elif marks >= 25 and marks <= 44:
    print('E grade, pass korco mama!!')
    
elif marks >= 45 and marks <= 49:
    print('D grade, kupaico mama!!')
    
elif marks >= 50 and marks <= 59:
    print('C grade')
    
elif marks >= 60 and marks <= 69:
    print('B grade')
    
elif marks >= 70 and marks <= 79:
    print('A grade')
    
elif marks >= 80 and marks <= 99:
    print('Golden plus mama!!')
    
else:
    print('You are a loser')

Enter your marks:93
Golden plus mama!!

"For loof" in python(A to Z)

In [89]:
data = 'python'

In [90]:
data[0]

'p'

In [91]:
data [2]

't'

In [92]:
data [-1]

'n'

In [93]:
for x in data:
    print(x)

p
y
t
h
o
n

In [94]:
nums = [1,2,3,4,5,6,7,8]

In [95]:
nums[1]

2

In [96]:
for i in nums:
    print(i)

1
2
3
4
5
6
7
8

In [102]:
sub = ['math', 'statistcis', 'data science', 'physics', 'python', 'economics']

In [99]:
sub [1]

'statistcis'

In [101]:
sub [3]

'physics'

In [103]:
sub [5]

'economics'

In [104]:
sub [-3]

'physics'

In [109]:
for i in sub:
    print(i)

math
statistcis
data science
physics
python
economics

In [110]:
for i in range(len(sub)):
    print(sub[i])

math
statistcis
data science
physics
python
economics

In [111]:
len(sub)

6

In [113]:
for i in range(4):
    print(sub[i])

math
statistcis
data science
physics

In [114]:
data = ('i love data science so much')

In [115]:
data

'i love data science so much'

In [116]:
data = ('i love data science so much')
for i in data:
    print(data,[i])

i love data science so much ['i']
i love data science so much [' ']
i love data science so much ['l']
i love data science so much ['o']
i love data science so much ['v']
i love data science so much ['e']
i love data science so much [' ']
i love data science so much ['d']
i love data science so much ['a']
i love data science so much ['t']
i love data science so much ['a']
i love data science so much [' ']
i love data science so much ['s']
i love data science so much ['c']
i love data science so much ['i']
i love data science so much ['e']
i love data science so much ['n']
i love data science so much ['c']
i love data science so much ['e']
i love data science so much [' ']
i love data science so much ['s']
i love data science so much ['o']
i love data science so much [' ']
i love data science so much ['m']
i love data science so much ['u']
i love data science so much ['c']
i love data science so much ['h']

In [121]:
data.split()

['i', 'love', 'data', 'science', 'so', 'much']

In [120]:
data = 'i love data science so much'
data.split()
for i in data:
    print(data,[i])

i love data science so much ['i']
i love data science so much [' ']
i love data science so much ['l']
i love data science so much ['o']
i love data science so much ['v']
i love data science so much ['e']
i love data science so much [' ']
i love data science so much ['d']
i love data science so much ['a']
i love data science so much ['t']
i love data science so much ['a']
i love data science so much [' ']
i love data science so much ['s']
i love data science so much ['c']
i love data science so much ['i']
i love data science so much ['e']
i love data science so much ['n']
i love data science so much ['c']
i love data science so much ['e']
i love data science so much [' ']
i love data science so much ['s']
i love data science so much ['o']
i love data science so much [' ']
i love data science so much ['m']
i love data science so much ['u']
i love data science so much ['c']
i love data science so much ['h']

In [125]:
data = 'i love data science so much'
data.split()
for i in range(len(data)):
    print(data[i],i)

i 0
  1
l 2
o 3
v 4
e 5
  6
d 7
a 8
t 9
a 10
  11
s 12
c 13
i 14
e 15
n 16
c 17
e 18
  19
s 20
o 21
  22
m 23
u 24
c 25
h 26

In [126]:
data [1]

' '

In [127]:
data [3]

'o'

In [131]:
nums = [1,2,3,4,5,6,7,8]
total = 0
for x in nums:
    total = total+x
    #print(total, x)
print(total, x)
print(total)

36 8
36

In [132]:
for i in range(10):
    print('data science')

data science
data science
data science
data science
data science
data science
data science
data science
data science
data science

In [134]:
for i in range(10):
    print('data science,i')

data science,i
data science,i
data science,i
data science,i
data science,i
data science,i
data science,i
data science,i
data science,i
data science,i

In [135]:
for i in range(5,10):
    print('data science,i')

data science,i
data science,i
data science,i
data science,i
data science,i

In [137]:
for i in range(5,10,2):
    print('data science,i')

data science,i
data science,i
data science,i

In [140]:
from IPython.display import image
image('excercize.png')

ImportError: cannot import name 'image' from 'IPython.display' (C:\ProgramData\Anaconda3\lib\site-packages\IPython\display.py)